<!DOCTYPE html>
<!--CU There-->
<html>
	<head>
		<title>CU There</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		
		
		<style>
            /*
                removes google maps logo and copyright lmao
            */
            a[href^="http://maps.google.com/maps"]{display:none !important}
            a[href^="https://maps.google.com/maps"]{display:none !important}

            .gmnoprint a, .gmnoprint span, .gm-style-cc {
                display:none;
            }
            .gmnoprint div {
                background:none !important;
            }

            /*
                sidenav-bar code
            */
			.sidenav {
				height: 100%;
				width: 0;
				position: fixed;
				z-index: 1;
				top: 0;
				left: 0;
				background-color: black;
				overflow-x: hidden;
				transition: 0.5s;
				padding-top: 60px;
                opacity: .8;
                border-radius: 0px 50px 50px 0px

			}
			
			.sidenav a {
				padding: 8px 8px 8px 32px;
				text-decoration: none;
				font-size: 25px;
				color: #818181;
				display: block;
				transition: 0.3s;
                
			}
			
			.sidenav a:hover {
				color: #f1f1f1;
			}
			.sidenav .closebtn {
				position: absolute;
				top: 0;
				right: 25px;
				font-size: 36px;
				margin-left: 50px;
			}
			@media screen and (max-height: 450px) {
				.sidenav {padding-top: 15px;}
				.sidenav a {font-size: 18px;}
			}
			
            /*
             map code
            */
			#map{
				height:100%;
				width:100%;
			}
			
			html, body {
                width: 100%;
                height: 100%;
            }

            /*
                placees div on top of map
            */
            .wrapper {
                position: relative;
                width: 100%;
                height: 100%;
            }

            #map {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #eee;
            }

            .content {
            position: absolute;
            padding: 1px;
            top: 25px;
            left: 25px;
            background: silver;
            opacity: .4;
            border-radius: 25px;
            }
            
            .content-right {
            position: absolute;
            padding: 1px;
            top: 25px;
            right: 25px;
            background: silver;
            opacity: .4;
            border-radius: 10px;
            }
            .content-main{
            position: absolute;
            padding: 4px;
            top: 50px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            background: grey;
            opacity: .4;
            border-radius: 25px;
            }
            .content-search {
            position: absolute;
            padding: 1px;
            top: 100px;
            right: 100px;
            background: silver;
            opacity: .4;
            border-radius: 10px;
            }


            .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            }

            .loginButtom{
              background-color: white;
            }
           
           h1{
             color: black;
             font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
           }

            /* button */

        

            
		</style>
	
    </head>
    
	<body>
	<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <a href="/home">Map</a>
		  <a href="/events">Events</a>
		  <a href="#">Search</a>
      <a href="/application">Apply</a>
      <a href="/delete">Delete</a>
	</div>


			
				
    <div class="wrapper">
        <div id="map"></div>
        <div class="content">
            <p class="my-2 col-2" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</p>
        </div>
        <div class="content-right">
          <button type="button" class="btn loginbutton">Login</button>         
        </div>
        <div class="content-main"> <img src="cutherelogo"  alt="ll"> </div>
    </div>
     

  
    <script>
    var eventString = '<%- stringifedObject %>'
    </script>
    <script type="text/javascript" src="js/google.js"></script>
  
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC65eIoju4pMvFg70DZvuMzlrymEL7oFps&callback=initMap"
		async defer>  
  </script>
  
	
    <!-- Modal -->
<div class="modal fade" id="eventWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="col-12 modal-title text-center" id="eventTitle"></h1>
          </button>
        </div>
        <div class="modal-body">
         
          <div>
            <p class='col-12 modal-title text-center'> <b></b> <span id='eventDescription'></span>    </p>
          </div>
          <hr>
          <div>
            <p class='col-12 modal-title text-center'><b><span id='date'></span></b> </p>
          </div>
          <hr>
          <div>
            <p class='col-12 modal-title text-center'><b><span id='address'></span></b> </p>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn hover  col-12  text-center" data-dismiss="modal">  <img src="cutherelogo"  alt="ll" ></button>
        </div>
      </div>
    </div>
  </div>
<!-- -->
	</body>
</html>
