<!DOCTYPE html>
<!--CU There-->
<html>
	<head>
		<title>CU There</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv = "refresh" content = "3; url =/home" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<style>
			.sidenav {
				height: 100%;
				width: 0;
				position: fixed;
				z-index: 1;
				top: 0;
				left: 0;
				background-color: #111;
				overflow-x: hidden;
				transition: 0.5s;
				padding-top: 60px;
			}
			.sidenav a {
				padding: 8px 8px 8px 32px;
				text-decoration: none;
				font-size: 25px;
				color: #818181;
				display: block;
				transition: 0.3s;
			}
			.sidenav a:hover {
				color: #f1f1f1;
			}
			.sidenav .closebtn {
				position: absolute;
				top: 0;
				right: 25px;
				font-size: 36px;
				margin-left: 50px;
			}
			@media screen and (max-height: 450px) {
				.sidenav {padding-top: 15px;}
				.sidenav a {font-size: 18px;}
			}
			.btn-group button:not(:last-child) {
				border-right: none; /* Prevent double borders */
			}
			.content-main{
            position: absolute;
            padding: 4px;
            top: 50px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            background: white;
            opacity: 1;
            border-radius: 25px;
            }
		</style>

	</head>
	<body>



  
  <div class="content-main">
	<img src="/cutherelogo"  alt="ll"></img>
  </div>
  <br>
  <br>	
  <br>
  <br>
  
    <p align="center">Congratulations! Your event has been submitted for review.</p>
		<div align="center">
			<button onclick="window.location.href  = '/home';">Back to home page</button>
		</div>
	  	<p>
		<div align="center" >
			<img src="https://media.giphy.com/media/1j9lSX67JPzF1qxu8e/giphy.gif" width="300" height="200">
			<img src="https://media.giphy.com/media/3oEdv2qNBprY4gDxMk/giphy.gif" width="300" height="200">
		</div>
  </div>

  </body>
</html>